<html xmlns:sec="http://thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/spacelab/bootstrap.min.css}" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="~{fragments/header.html::header}">
</div>

<!-- the html page that is going to making use of this layout will be displayed in this content div -->

<div layout:fragment="content"></div>

<div th:replace="~{fragments/footer::footer}">
</div>

</body>
</html>